/* Apply dark grey background to the whole body */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212; /* Very dark background for the entire page */
    color: #e0e0e0; /* Light grey text for readability */
}

/* Sidebar styles - slightly lighter grey for contrast */
.sidebar {
    width: 30%;
    background-color: #2C2C2C; /* Dark grey sidebar */
    padding: 20px;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5); /* Stronger shadow for depth */
    border-right: 2px solid #444; /* Subtle border for definition */
}

/* Sidebar title */
.sidebar-title {
    font-size: 1.5em;
    color: #f1f1f1; /* Bright blue title */
    text-align: center;
    margin-bottom: 20px;
}

/* Group for all inputs and controls */
.input-group {
    margin-bottom: 20px;
}

/* Label styles */
.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #e0e0e0;
}

/* Dropdown styles */
.dropdown {
    width: 100%;
    background-color: #444; /* Dark background for dropdown */
    color: #666666; /* Light text color */
    border: 1px solid #555; /* Subtle border for input fields */
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
}


/* Adjust button width and alignment */
.button {
    width: 100%;
    padding: 12px;
    background-color: #888888; /* Blue button */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

/* Button hover effect */
.button:hover {
    background-color: #5c5c5c; /* Darker blue for hover */
}

/* Styling for the main content area */
.content {
    margin-left: 25%; /* Make room for the sidebar */
    padding: 20px;
    background-color: #121212; /* Dark background for content */
}

/* Results container styling */
.results-container {
    margin-top: 20px;
}


/* Adjust textareas */
.dcc-textarea {
    width: 100%;
    background-color: #444; /* Same dark background for the textarea */
    color: #e0e0e0; /* Light text color */
    border: 1px solid #555; /* Subtle border for input fields */
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
}

/* Style for the textarea placeholder */
.dcc-textarea::placeholder {
    color: #888; /* Lighter grey placeholder */
}



.rc-slider-track {
    background-color: rgb(180, 180, 180);
}
  
.rc-slider-dot-active {  
    border-color: rgb(235, 235, 235);
    border: solid 2px rgb(235, 235, 235);
}
  
.rc-slider-handle {
    background-color: rgb(40, 40, 40);
    border-color: rgb(120, 120, 120);
}
  
.rc-slider-handle:hover {
    border-color: rgb(40, 40, 40);
}
  

